<template>
  <div id="app" class="container">
    <router-view></router-view>
  </div>
</template>
<script>
export default {
  name: 'app',
  components: {
  }
}
</script>
<style>
  @import "assets/css/loaders.css";
  @import "assets/css/main.css";
</style>
