<template>
  <div>index</div>
</template>
<style scoped>
</style>
<script>
  export default{
    created () {
      this.$http.get(`getUsers`).then((data) => {
        console.log(data)
      })
    },
    data () {
      return {
        msg: 'hello vue'
      }
    },
    components: {
    }
  }
</script>
