<template>
  <div class="container-login">
    <div class="form-horizontal" role="form">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email" v-model="email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword3" placeholder="Password" v-model="password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
            <label class="fr">
              <router-link to="/register"><button class="btn btn-link">register</button></router-link>
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-default" @click="login">Sign in</button>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
  .container-login {
    margin: 100px auto;
    width: 500px;
  }
</style>
<script>
  import Vue from 'vue'
  export default{
    created () {
    },
    data () {
      return {
        email: '',
        password: ''
      }
    },
    methods: {
      login () {
        this.$http.post(`login`, {
          email: this.email,
          password: this.password
        }).then(({status, data}) => {
          console.log(Vue.http.headers)
          // 将token加入http请求头中，之后所有请求都需要token验证
          Vue.http.headers.common['authorization'] = 'JWT ' + data.token
          console.log(status)
          if (data.status === true) {
            this.$router.push({name: 'index'})
          }
        }, (error) => {
          console.log(error)
        })
      }
    },
    components: {
    }
  }
</script>
