<template>
  <div class="container-register">
    <div class="form-horizontal" role="form">
      <div class="form-group">
        <label for="username" class="col-sm-3 control-label">Username</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="username" placeholder="Username" v-model="username">
          <span class="text-muted">不填写username, 默认为邮箱</span>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-6">
          <span class="form-require">*</span>
          <input type="email" class="form-control" id="email" placeholder="Email" v-model="email" @change="hasAccount">
          <span v-show="emailFail" class="text-muted text-error"><span class="glyphicon glyphicon-remove"></span>{{emailError}}</span>
        </div>
        <div v-show="emailOk" class="col-sm-1 register-icon">
          <span class="glyphicon glyphicon-ok register-icon-ok"></span>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-6">
          <span class="form-require">*</span>
          <input type="password" class="form-control" id="password" placeholder="Password" v-model="password">
        </div>
      </div>
      <div class="form-group">
        <label for="surePassword" class="col-sm-3 control-label">Sure Password</label>
        <div class="col-sm-6">
          <span class="form-require">*</span>
          <input type="password" class="form-control" id="surePassword" placeholder="Sure Password" v-model="surePassword">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-primary" @click="register">register</button>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
  .container-register {
    margin: 100px auto;
    width: 800px;
  }
  .form-require {
    color: red;
    position: absolute;
    left: 5px;
    top: 0px;
  }
  .register-icon {
    height: 34px;
    padding: 8px 0px;
  }
  .text-error {
    color: red;
    font-size: 12px;
  }
  .register-icon-ok {
    color: green;
  }
</style>
<script>
  import $ from 'jquery'
  import Layer from 'layer'
  import dateUtil from '../util/dateUtil'
  import regularUtil from '../util/regularUtil'
  export default{
    created () {
      console.log($)
    },
    data () {
      return {
        username: '',
        email: '',
        name: '',
        password: '',
        surePassword: '',
        age: '',
        sex: '',
        create_at: '',
        phone: '',
        // 判断
        emailOk: false,
        emailFail: false,
        emailError: ''
      }
    },
    methods: {
      hasAccount () {
        if (!this.email) {
          return
        }
        if (!regularUtil.emailRegExp.test(this.email)) {
          this.emailError = '邮箱格式不正确'
          this.emailFail = true
          return
        } else {
          this.emailFail = false
        }
        this.$http.post(`hasAccount`, {
          email: this.email
        }).then(({status, data}) => {
          console.log(status)
          console.log(data)
          if (data.status) {
            this.emailOk = true
            this.emailFail = false
          } else {
            this.emailOk = false
            this.emailFail = true
            this.emailError = '该邮箱已被注册'
          }
        }, (err) => {
          console.log(err)
        })
      },
      register () {
        if (!this.email || !this.password || !this.surePassword) {
          Layer.msg('请填写所有必填字段', {
            time: 1500
          })
          return
        }
        let registerObj = {
          username: this.username || this.email,
          email: this.email,
          name: this.name || '',
          password: this.password,
          age: this.age || 0,
          sex: this.sex || '',
          phone: this.phone,
          create_at: this.create_at || dateUtil.getDateAndTime()
        }
        registerObj.create_time = new Date(registerObj.create_at).getTime()
        this.$http.post(`register`, registerObj).then(({status, data}) => {
          console.log(status)
          console.log(data)
          if (data.status === true) {
            this.$router.push({name: 'index'})
          }
        }, (error) => {
          console.log(error)
        })
      }
    },
    components: {
      Layer
    }
  }
</script>
