<template>
  <div class="loader">
     <!--<div class="tips">努力加载中...</div>-->
    <div class="loader-inner pacman">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</template>
<script>
  export default {
    // 组件创建完成后执行, 此时 data 已经被 observed
    created () {
      let _this = this
      setTimeout(function () {
        _this.$router.push({name: 'login'})
      }, 1000)
    },
    data () {
      return {
        msg: 'hello vue'
      }
    },
    components: {
    }
  }
</script>
<style scoped>
  .loader {
    margin: 0px auto;
    height: 100%;
  }
</style>
